*   {   border:0
        Padding:0
        margin:0
    }

h2{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-variation-settings:"wdth" 100;
        color: white;
        text-align: center;
    }

.navbar-brand img
    {
        height: 2rem;
        
    }

.card-body
    {
    background-color: #0DCAF0;    
    }

main 
{
    background-color: black;
} 

.card-img-top{
    height: 15rem;
    width: auto;

}

footer
{
    background-color:#0DCAF0 ;
    align-self: auto;
    text-align: right;
}

h3{
    font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-variation-settings:"wdth" 100;
        color: white;
}
.form-group
{
    background-color: black;
}
form
{
    text-decoration: aliceblue;
}