*   {   border:0
        Padding:0
        margin:0
    }

H1{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-variation-settings:"wdth" 100;
    }

.navbar-brand img
    {
        height: 2rem;
        
    }



#navbar 
    {
    
    }